
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
body{
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #24282f;
    background-size: 100%;
}
.cart-count {
  position: absolute;
  top: 5px;
  right: -9px;
  background-color: #1E90FF;
  color: white;
  border-radius: 100%;
  padding: 5px 10px;
  font-size: 10px;
}
.main{
    position: relative;
    display: flex;
    justify-content: center;
    
}
.borda{
    margin-left: 20%;
    margin-right: 20%;
    position: relative;
    justify-content: center;
    align-items: center;
}
.pontilhado {
    border-right-style: dashed;
    color: rgb(156, 156, 156);
    margin-top: 60px;
    margin-bottom: 60px;
  }
.w3-btn{
    background-color: #24282f;
}
.card{
    margin: 30px;
    width: 250px;
    border-radius: 10px;
    height: 350px;
    transition: .5s;
    justify-content: center;
    box-shadow: 0 5px 10px rgba( #000, .8 );
    background-color:  rgb(109, 109, 109);
}
.card:hover{
    margin: 30px;
    width: 280px;
    border-radius: 10px;
    height: 380px;
    transition: .5s;
    background-color:  rgb(109, 109, 109);
}


.card>img{
    width: 100%;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


.border {
  letter-spacing: 0.03em;
  padding: 0.2em 0.5em;
  display: inline-block;
  font-weight: 700px;
  font-size: 350px;
	place-items: center;
  word-break: break-all;
	min-height: 200px;
  margin: 10% 0 50px;
  text-transform: uppercase;
	border: 8px solid;
}
.border h1{
  font-size: 35px;
}
.border p{
  font-size:10px;
}
.border h1 strong{
  font-size: 45px;
}

.text {
  min-height: 200px;
	display:inline-block;
	position:relative;
  font-weight: 700px;
  font-size: 350px;
  letter-spacing: 0.03em;
  padding: 0.2em 0.5em;
	text-align:center;  
	border:8px solid transparent;
  border-bottom:8px solid transparent;
	/*   border-bottom:2px solid #000; */
	border-image: linear-gradient(20deg, #ffffff 40%, transparent 0% 60%, #1E90FF 0) 2;
}


/* Regras de mídia para tornar o site responsivo */

@media only screen and (max-width: 768px) {
    .container {
      max-width: 90%;
      margin: 30px auto;
      padding: 10px;
    }
    
    .faq-list {
      font-size: 18px;
    }
    
    .faq-question {
      padding: 15px;
    }
    
    .faq-answer>div {
      padding: 20px;
    }
    
    .footer {
      padding: 2rem 0;
    }
  }






/*CSS CALENDARIO */
:root {
    --dark-body: #4d4c5a;
    --dark-main: #141529;
    --dark-second: #79788c;
    --dark-hover: #323048;
    --dark-text: #f8fbff;

    --light-body: #f3f8fe;
    --light-main: #fdfdfd;
    --light-second: #c3c2c8;
    --light-hover: #edf0f5;
    --light-text: #151426;

    --blue: #0000ff;
    --white: #fff;

    --shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    --font-family: cursive;
}

.dark {
    --bg-body: var(--dark-body);
    --bg-main: var(--dark-main);
    --bg-second: var(--dark-second);
    --color-hover: var(--dark-hover);
    --color-txt: var(--dark-text);
}

.light {
    --bg-body: var(--light-body);
    --bg-main: var(--light-main);
    --bg-second: var(--light-second);
    --color-hover: var(--light-hover);
    --color-txt: var(--light-text);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.calendar {
    justify-content: center;
	height: max-content;
    width: max-content;
    margin-left: auto;
    margin-top:10vh;
    margin-bottom:5vh;
    margin-right: auto; 
    background-color: var(--bg-main);
    border-radius: 30px;
    padding: 20px;
    position: relative;
    overflow: hidden;
    /* transform: scale(1.25); */
}

.light .calendar {
    box-shadow: var(--shadow);
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    font-weight: 600;
    color: var(--color-txt);
    padding: 10px;
}

.calendar-body {
    padding: 10px;
}

.calendar-week-day {
    height: 50px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-weight: 600;
}

.calendar-week-day div {
    display: grid;
    place-items: center;
    color: var(--bg-second);
}

.calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2px;
    color: var(--color-txt);
}

.calendar-days div {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    position: relative;
    cursor: pointer;
    animation: to-top 1s forwards;
    /* border-radius: 50%; */
}

.calendar-days div span {
    position: absolute;
}

.calendar-days div:hover span {
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
}

.calendar-days div span:nth-child(1),
.calendar-days div span:nth-child(3) {
    width: 2px;
    height: 0;
    background-color: var(--color-txt);
}

.calendar-days div:hover span:nth-child(1),
.calendar-days div:hover span:nth-child(3) {
    height: 100%;
}

.calendar-days div span:nth-child(1) {
    bottom: 0;
    left: 0;
}

.calendar-days div span:nth-child(3) {
    top: 0;
    right: 0;
}

.calendar-days div span:nth-child(2),
.calendar-days div span:nth-child(4) {
    width: 0;
    height: 2px;
    background-color: var(--color-txt);
}

.calendar-days div:hover span:nth-child(2),
.calendar-days div:hover span:nth-child(4) {
    width: 100%;
}

.calendar-days div span:nth-child(2) {
    top: 0;
    left: 0;
}

.calendar-days div span:nth-child(4) {
    bottom: 0;
    right: 0;
}

.calendar-days div:hover span:nth-child(2) {
    transition-delay: 0.2s;
}

.calendar-days div:hover span:nth-child(3) {
    transition-delay: 0.4s;
}

.calendar-days div:hover span:nth-child(4) {
    transition-delay: 0.6s;
}

.calendar-days div.curr-date,
.calendar-days div.curr-date:hover {
    background-color: var(--blue);
    color: var(--white);
    border-radius: 50%;
}

.calendar-days div.curr-date span {
    display: none;
}

.month-picker {
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
}

.month-picker:hover {
    background-color: var(--color-hover);
}

.year-picker {
    display: flex;
    align-items: center;
}

.year-change {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin: 0 10px;
    cursor: pointer;
}

.year-change:hover {
    background-color: var(--color-hover);
}

.calendar-footer {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.toggle {
    display: flex;
}

.toggle span {
    margin-right: 10px;
    color: var(--color-txt);
}

.dark-mode-switch {
    position: relative;
    width: 48px;
    height: 25px;
    border-radius: 14px;
    background-color: var(--bg-second);
    cursor: pointer;
}

.dark-mode-switch-ident {
    width: 21px;
    height: 21px;
    border-radius: 50%;
    background-color: var(--bg-main);
    position: absolute;
    top: 2px;
    left: 2px;
    transition: left 0.2s ease-in-out;
}

.dark .dark-mode-switch .dark-mode-switch-ident {
    top: 2px;
    left: calc(2px + 50%);
}

.month-list {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--bg-main);
    padding: 20px;
    grid-template-columns: repeat(3, auto);
    gap: 5px;
    display: grid;
    transform: scale(1.5);
    visibility: hidden;
    pointer-events: none;
}

.month-list.show {
    transform: scale(1);
    visibility: visible;
    pointer-events: visible;
    transition: all 0.2s ease-in-out;
}

.month-list > div {
    display: grid;
    place-items: center;
}

.month-list > div > div {
    width: 100%;
    padding: 5px 20px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    color: var(--color-txt);
}

.month-list > div > div:hover {
    background-color: var(--color-hover);
}

@keyframes to-top {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.calendar-day.current-day {
    background-color: #1E90FF; /* Cor de destaque, pode ajustar conforme necessário */
    border-radius: 50%;
    color: #000;
    font-weight: bold;
}
#selectedDate {
    color: #FFFFFF; /* Define a cor do texto como branco */
    background-color: #333; /* Define uma cor de fundo para contraste, ajuste conforme necessário */
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
}
/*Footer */
footer{
    background-color: #26272b;
  }
  
  footer .divisao{
    display: flex;
    color: #737373;
  }
  
  footer .divisao ul{
    width: 30%;
    margin-left:100px;
    margin-right:100px;
  }
  
  footer .divisao h3{
    color: white;
    margin-top:50px;
    margin-bottom: 16px;
    font-weight: 600;
    text-align: center;
  }
  
  footer .divisao ul > p{
    margin-bottom: 40px;
  }
  footer .sublinhado-footer{
    color:#737373;
    margin-left:100px;
    margin-right:100px;
    margin-top:50px;
  }
  
  footer .divisao .redes-sociais svg
  {
    width:50px;
    height:50px;
    line-height:50px;
    margin-left: auto;
    margin-right:0;
    border-radius:100%;
    background-color:#33353d;
    text-align:center;
    margin-left: 15px;
    margin-right:15px;
  }
  
  footer .divisao .redes-sociais svg.facebook:hover
  {
    cursor: pointer;
    background-color:#294fa1;
    color:white;
    transition: 0.8s;
  }
  
  footer .divisao .redes-sociais svg.instagram:hover
  {
    cursor: pointer;
    background:linear-gradient(45deg,#f9ce34,#ee2a7b,#6228d7);
    color:white;
    transition: 0.8s;
  }
  footer .divisao .redes-sociais svg.tiktok:hover
  {
    cursor: pointer;
    background:linear-gradient(45deg,#FE2C55,#25F4EE);
    color:white;
    transition: 0.8s;
  }
  
  footer .divisao .redes-sociais svg.youtube:hover
  {
    cursor: pointer;
    background-color:#c4302b;
    color:white;
    transition: 0.8s;
  }
  footer .divisao .redes-sociais svg.whatsapp:hover
  {
    cursor: pointer;
    background-color:#25d366;
    color:white;
    transition: 1s;
  }
  
  /* sublinhado */
.sublinhado {
    border-inline-start: 3px solid;
    border-block-start: 3px solid;
    border-image-source: radial-gradient(circle at center,#1E90FF, transparent 50%);
    border-image-slice:1;
    padding:10px;
  }
  .reveal {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}
.reveal.visible {
    opacity: 1;
    transform: translateY(0);
}


/*BARRA DE NAVEGAÇÃO */
.menu{
    height: 60px;
    background-color: black;
    width: 100%;
    display: flex;
    top:0;
    padding: 2%;
    justify-content: center;
    position: sticky;
    align-items: center;
  }
  
  
  a{
    position:relative;
    margin-right: 50px;
    margin-left: 50px;
    text-decoration:none;
    border-color: white;
    text-transform: uppercase;
    font-family: 'Poopins', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 16px;
    letter-spacing: 0.8px;
  }
  
  /*DEIXAR O MENU COM O RISCO ABAIXO DELE AO PASSAR O MOUSE(CORTES,PACOTES,AGENDA E CONTATO)*/
  .itensMenu {
  position: relative;
  text-decoration: none;
  border-color: white;
  text-transform: uppercase;
  font-family: 'Poopins', sans-serif;
  color: rgb(255, 255, 255);
  font-size: 16px;
  display: flex;
  letter-spacing: 0.8px;
  }
  
  
  .itensMenu:after {
  content: "";
  position: absolute;
  background-color: #1E90FF;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
  }
  
  a:hover{
    color: #1E90FF;
  }
  
  
  a:hover:after{
    width: 100%;
  }
  
  #navbar {
  overflow: hidden;
  z-index: 1;
  height: 60px;
  background-color: black;
  width: 100%;
  display: flex;
  top: 0;
  width: 100%;
  padding: 2%;
  justify-content: space-between;
  position: sticky;
  align-items: center;
  }
  
  
  #navbar a {
  text-decoration: none;
  border-color: white;
  text-transform: uppercase;
  font-family: 'Poopins', sans-serif;
  color: rgb(255, 255, 255);
  font-size: 16px;
  letter-spacing: 0.8px;
  }
  
  #navbar a:hover {
  color: #1E90FF;
  }
  
  .right-icons {
    display: flex;
    gap: 45px; /* Reduz o espaço entre os ícones */
    align-items: center;
  }
  
  
  .right-icons a {
  margin: 0;
  }
  
  .left-icons {
    display: flex;
    gap: 45px; /* Reduz o espaço entre os ícones */
    align-items: center;
  }
  
  
  .left-icons a {
  margin: 0;
  }
  .content {
  padding: 16px;
  }
  
  .sticky {
  position: fixed;
  top: 0;
  width: 100%;
  }
  
  .sticky + .content {
  padding-top: 60px;
  }
  
  
  .user-menu {
    position: relative;
    display: inline-block;
    transition: 2s;
  }
  
  .user-menu .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 100%; /* Ajusta a posição vertical abaixo do ícone */
    left: 0;   /* Ajusta a posição horizontal */
  }
  
  .user-menu .dropdown-content a {
    color: black;
    margin: 0px;
    text-align: center;
    width: 160px;
    height: 45px;
    padding: 15px 10px;
    text-decoration: none;
    display: block;
  }
  
  .user-menu .dropdown-content a:hover {
    background-color: #1e90ff;
  }
  
  .user-menu:hover .dropdown-content {
    display: block;
  }

  /* HORARIO SELECIONADO*/
  .time-option {
    background-color: white; /* Estilo padrão */
    color: black; /* Cor do texto padrão */
    padding: 10px;
    cursor: pointer;
    display: inline-block;
}

.time-option.selected-time {
    background-color: #1e90ff; /* Cor de fundo ao selecionar*/
    color: white; /* Cor do texto ao selecionar */
}


@media only screen and (max-width: 1110px) {
  
  footer{
    background-color: #26272b;
    }
    
    footer .divisao{
    display: flex;
    color: #737373;
    }

    footer .divisao ul{
    width: 30%;
    margin-left:5px;
    margin-right:5px;
    }

    footer .divisao h3{
    color: white;
    margin-top:20px;
    margin-bottom: 0px;
    font-size:16px;
    font-weight: 600;
    text-align: center;
    }
    footer .contato p{
      font-size:8px;
      margin:auto 30px;
    }
    footer .divisao p{
    margin-bottom: 5px;
    font-size:12px;
    }
    footer .direitos{
    text-align: right;
    color:#737373;
    font-size:12px;
    margin-top:5px;
    margin-bottom:5px;
    }
    footer .sublinhado-footer{
    margin:auto;
    margin-top:10px;
    width:80%
    }
    footer .divisao .redes-sociais svg
    {
    width:40px;
    height:40px;
    line-height:10px;
    margin-left: auto;
    margin-right:auto;
    border-radius:100%;
    background-color:#33353d;
    text-align:center;
    }
    .horarios{
      margin:auto 50px;
    }
    .horarios img{
      display: none;
    }
}




@media only screen and (max-width: 935px){
  /* MENU */
.menu {
  font-size: 10px;
  width:100%;
}
.menu a{
  text-decoration:none;
  font-size:14px;
  text-align:left;
  margin:20px;
  width:100%;
}
.icones-direita{
  display:flex;
  text-align:left;
  padding:10px;
  margin:10px;
}
.icones-direita .carrinho{
  font-size:10px;
  text-align:center;
  padding:auto;
  margin:auto;
}

.itensMenu {
  font-size: 10px;
  text-decoration:none;
}
.itensMenu:after {
height: 2px;
width: 0;
left: 0;
bottom: -5px;
transition: 0.3s;
}

a:hover:after{
  width: 70%;
}   
.user-menu{
display:flex;
padding: 5px;
margin:0px;
}
.user-menu .dropdown-content {
display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 100px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
top: 100%; /* Ajusta a posição vertical abaixo do ícone */
left: -100%;   /* Ajusta a posição horizontal */
}

/*FIM MENU*/
  .border {
    letter-spacing: 0.03em;
    padding: 0.2em 0.5em;
    display: inline-block;
    font-weight: 700px;
    font-size: 350px;
    place-items: center;
    word-break: break-all;
    min-height: 20px;
    margin: 10% 0 50px;
    text-transform: uppercase;
    border: 8px solid;
  }
  .text {
    min-height: 200px;
    display:inline-block;
    position:relative;
    font-weight: 700px;
    font-size: 250px;
    letter-spacing: 0.03em;
    padding: 0.2em 0.5em;
    text-align:center;  
    border:8px solid transparent;
    border-bottom:8px solid transparent;
    /*   border-bottom:2px solid #000; */
    border-image: linear-gradient(20deg, #ffffff 40%, transparent 0% 60%, #1E90FF 0) 2;
  }
.cabelo{
  font-size:20px;
}
.outros{
  font-size:20px;
}
.card{
    margin:20px;
    padding:10px;
    width: 210px;
    border-radius: 10px;
    height: 300px;
    transition: .5s;
    justify-content: center;
    box-shadow: 0 5px 10px rgba( #000, .8 );
    background-color:  rgb(109, 109, 109);
}
.card:hover{
    margin:10px;
    width: 230px;
    border-radius: 10px;
    height: 320px;
    transition: .5s;
    background-color:  rgb(109, 109, 109);
}
.card h3{
  font-size:15px;
}
.card button{
  margin-top:20px;
}
.card>img{
    width: 100%;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

footer{
  background-color: #26272b;
  }
  
  footer .divisao{
  display: flex;
  color: #737373;
  }

  footer .divisao ul{
  width: 30%;
  margin-left:5px;
  margin-right:5px;
  }

  footer .divisao h3{
  color: white;
  margin-top:20px;
  margin-bottom: 0px;
  font-size:16px;
  font-weight: 600;
  text-align: center;
  }
  footer .contato p{
    font-size:8px;
    margin:auto 30px;
  }
  footer .divisao p{
  margin-bottom: 5px;
  font-size:8px;
  }
  footer .direitos{
  text-align: right;
  color:#737373;
  font-size:8px;
  margin-top:5px;
  margin-bottom:5px;
  }
  footer .sublinhado-footer{
  margin:auto;
  margin-top:10px;
  width:80%
  }
  footer .divisao .redes-sociais svg
  {
  width:30px;
  height:30px;
  line-height:50px;
  margin-left: auto;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d;
  text-align:center;
  }
}

@media only screen and (max-width: 480px){
.border {
  letter-spacing: 0.03em;
  padding: 0.3em 0.5em;
  display: inline-block;
  font-weight: 700px;
  font-size: 20px;
  place-items: center;
  word-break: break-all;
  min-height: 5px;
  margin:auto -60px;
  text-transform: uppercase;
  border: 2px solid;
}
.border h1 i{
  font-size:15px;
  align-items: center;
  text-align: center;
  padding-left:50px;
  padding-right:50px;
  padding-top:50px;
  padding-bottom:50px;
}

.border h1{
  margin-top: 30px;
  font-size: 20px;
}
.border p{
  font-size:7px;
}
.border h1 strong{
  font-size: 25px;
  margin-top: 30px;
}

.text {
  min-height: 190px;
  font-weight: 70px;
  font-size: 10px;
  letter-spacing: 0.02em;
  padding: 0.3em 0.2em;
  text-align:center;  
  border:2px solid transparent;
  border-bottom:2px solid transparent;
  /*   border-bottom:2px solid #000; */
  border-image: linear-gradient(20deg, #ffffff 40%, transparent 0% 60%, #1E90FF 0) 2;
}

/* MENU */
.menu {
    font-size: 10px;
    width:100%;
}
.menu a{
    text-decoration:none;
    font-size:10px;
    text-align:left;
    margin:10px;
    width:100%;
}
.icones-direita{
    display:flex;
    text-align:center;
    padding:10px;
    margin:10px;
}
.icones-direita .carrinho{
    font-size:10px;
    text-align:center;
    padding:auto;
    margin:auto;
}

.itensMenu {
    font-size: 10px;
    text-decoration:none;
}
.itensMenu:after {
height: 1px;
width: 0;
left: 0;
bottom: -10px;
transition: 0.3s;
}

a:hover:after{
    width: 70%;
}   
.user-menu{
  display:flex;
  padding: 5px;
  margin:0px;
}
.menu p i{
  font-size:30px;
}
.user-menu .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  top: 100%; /* Ajusta a posição vertical abaixo do ícone */
  left: -100%;   /* Ajusta a posição horizontal */
  }

}