*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #24282f;
    background-size: 100%;
}

.main{
    position: relative;
    display: flex;
    justify-content: center;
    
}
.borda{
    margin-left: 20%;
    margin-right: 20%;
    position: relative;
    justify-content: center;
    align-items: center;
}
.pontilhado {
    border-right-style: dashed;
    color: rgb(156, 156, 156);
    margin-top: 60px;
    margin-bottom: 60px;
  }
.border h1{
  font-size: 35px;
}
.border p{
  font-size:10px;
}
.border h1 strong{
  font-size: 45px;
}
.border {
  letter-spacing: 0.03em;
  padding: 0.2em 0.5em;
  display: inline-block;
  font-weight: 700px;
  font-size: 350px;
	place-items: center;
  word-break: break-all;
	min-height: 200px;
  margin: 10% 0 50px;
  text-transform: uppercase;
	border: 8px solid;
}




.text {
  min-height: 200px;
	display:inline-block;
	position:relative;
  font-weight: 700px;
  font-size: 350px;
  letter-spacing: 0.03em;
  padding: 0.2em 0.5em;
	text-align:center;  
	border:8px solid transparent;
  border-bottom:8px solid transparent;
	/*   border-bottom:2px solid #000; */
	border-image: linear-gradient(20deg, #ffffff 40%, transparent 0% 60%, #1E90FF 0) 2;
}
.cart-count {
  position: absolute;
  top: 5px;
  right: -9px;
  background-color: #1E90FF;
  color: white;
  border-radius: 100%;
  padding: 5px 10px;
  font-size: 10px;
}
.animacao{
    visibility: hidden;
}

.e-card {
  margin: 50px auto; /* Centraliza os cartões e reduz o margin para telas menores */
  background: transparent;
  box-shadow: 0px 8px 28px -9px rgba(0, 0, 0, 0.45);
  position: relative;
  width: 270px;
  height: 360px;
  border-radius: 16px;
  overflow: hidden;
}

.wave {
  position: absolute;
  width: 540px;
  height: 700px;
  opacity: 0.6;
  left: 0;
  top: 0;
  margin-left: -50%;
  margin-top: -70%;
  background: linear-gradient(744deg, #af40ff, #1E90FF 60%, #00ddeb);
}

.icon {
  width: 3em;
  margin-top: -1em;
  padding-bottom: 1em;
}

.infotop {
  text-align: center;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  font-weight: 600;
}

.name {
  font-size: 14px;
  font-weight: 100;
  position: relative;
  top: 1em;
  text-transform: lowercase;
}

.wave:nth-child(2),
.wave:nth-child(3) {
  top: 210px;
}

.playing .wave {
  border-radius: 40%;
  animation: wave 3000ms infinite linear;
}

.wave {
  border-radius: 40%;
  animation: wave 55s infinite linear;
}

.playing .wave:nth-child(2) {
  animation-duration: 4000ms;
}

.wave:nth-child(2) {
  animation-duration: 50s;
}

.playing .wave:nth-child(3) {
  animation-duration: 5000ms;
}

.wave:nth-child(3) {
  animation-duration: 45s;
}

@keyframes wave {
  0% {
      transform: rotate(0deg);
  }

  100% {
      transform: rotate(360deg);
  }
}

.plan {
  z-index: 1;
  border-radius: 16px;
  box-shadow: 0 30px 30px -25px rgba(0, 38, 255, 0.205);
  padding: 15px;
  background-color: #fff;
  color: #697e91;
  max-width: 300px;
}

.plan strong {
  font-weight: 600;
  color: #425275;
}

.plan .inner {
  align-items: center;
  margin: auto auto;
  padding: 10px;
  padding-top: 60px;
  background-color: #ecf0ff;
  bottom: 0;
  border-radius: 12px;
  position: relative;
}

.plan .pricing {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #bed6fb;
  border-radius: 99em 25em 0em 99em;
  display: flex;
  align-items: center;
  padding: 0.625em 0.75em;
  font-size: 1.25rem;
  font-weight: 600;
  color: #425475;
}

.plan .pricing small {
  color: #707a91;
  font-size: 0.75em;
  margin-left: 0.25em;
}

.plan .title {
  font-weight: 600;
  font-size: 1.20rem;
  color: #425675;
  margin-bottom: 30px;
}

.plan .title + * {
  margin-top: 1.5rem;
}

.plan .features {
  display: flex;
  flex-direction: column;
}

.plan .features li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.plan .features li + * {
  margin-top: 1.0rem;
}

.plan .features .icon {
  background-color: #1FCAC5;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.plan .features .icon svg {
  width: 20px;
  height: 20px;
}

.plan .features + * {
  margin-top: 1.25rem;
}

.plan .action {
  width: 100%;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: end;
}

.plan .button {
  background-color: #6558d3;
  border-radius: 6px;
  color: #fff;
  font-weight: 500;
  font-size: 1.125rem;
  text-align: center;
  border: 0;
  width: 100%;
  padding: 0.625em 0.75em;
  text-decoration: none;
}

.plan .button:hover, .plan .button:focus {
  background-color: #4133B7;
}
/*FONTE TITULO */
.playfair-display-sc-bold {
    font-family: "Playfair Display SC", serif;
    font-weight: 1200;
    font-style: normal;
  }
  
  .playfair-display-sc-black {
    font-family: "Playfair Display SC", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }


/*Footer */
footer{
    background-color: #26272b;
  }
  
  footer .divisao{
    display: flex;
    color: #737373;
  }
  
  footer .divisao ul{
    width: 30%;
    margin-left:100px;
    margin-right:100px;
  }
  
  footer .divisao h3{
    color: white;
    margin-top:50px;
    margin-bottom: 16px;
    font-weight: 600;
    text-align: center;
  }
  
  footer .divisao ul > p{
    margin-bottom: 40px;
  }
  footer .sublinhado-footer{
    color:#737373;
    margin-left:100px;
    margin-right:100px;
    margin-top:50px;
  }
  
  footer .divisao .redes-sociais svg
  {
    width:50px;
    height:50px;
    line-height:50px;
    margin-left: auto;
    margin-right:0;
    border-radius:100%;
    background-color:#33353d;
    text-align:center;
    margin-left: 15px;
    margin-right:15px;
  }
  
  footer .divisao .redes-sociais svg.facebook:hover
  {
    cursor: pointer;
    background-color:#294fa1;
    color:white;
    transition: 0.8s;
  }
  
  footer .divisao .redes-sociais svg.instagram:hover
  {
    cursor: pointer;
    background:linear-gradient(45deg,#f9ce34,#ee2a7b,#6228d7);
    color:white;
    transition: 0.8s;
  }
  footer .divisao .redes-sociais svg.tiktok:hover
  {
    cursor: pointer;
    background:linear-gradient(45deg,#FE2C55,#25F4EE);
    color:white;
    transition: 0.8s;
  }
  
  footer .divisao .redes-sociais svg.youtube:hover
  {
    cursor: pointer;
    background-color:#c4302b;
    color:white;
    transition: 0.8s;
  }
  footer .divisao .redes-sociais svg.whatsapp:hover
  {
    cursor: pointer;
    background-color:#25d366;
    color:white;
    transition: 1s;
  }
  .reveal {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}
.reveal.visible {
    opacity: 1;
    transform: translateY(0);
}
/* sublinhado */
.sublinhado {
    border-inline-start: 3px solid;
    border-block-start: 3px solid;
    border-image-source: radial-gradient(circle at center,#1E90FF, transparent 50%);
    border-image-slice:1;
    padding:10px;
}

/*Barra de Navegação*/
.menu{
  height: 60px;
  background-color: black;
  width: 100%;
  display: flex;
  top:0;
  padding: 2%;
  justify-content: center;
  position: sticky;
  align-items: center;
}


a{
  position:relative;
  margin-right: 50px;
  margin-left: 50px;
  text-decoration:none;
  border-color: white;
  text-transform: uppercase;
  font-family: 'Poopins', sans-serif;
  color: rgb(255, 255, 255);
  font-size: 16px;
  letter-spacing: 0.8px;
}




/*DEIXAR O MENU COM O RISCO ABAIXO DELE AO PASSAR O MOUSE(CORTES,PACOTES,AGENDA E CONTATO)*/
.itensMenu {
position: relative;
text-decoration: none;
border-color: white;
text-transform: uppercase;
font-family: 'Poopins', sans-serif;
color: rgb(255, 255, 255);
font-size: 16px;
display: flex;
letter-spacing: 0.8px;
}


.itensMenu:after {
content: "";
position: absolute;
background-color: #1E90FF;
height: 3px;
width: 0;
left: 0;
bottom: -10px;
transition: 0.3s;
}

a:hover{
  color: #1E90FF;
}


a:hover:after{
  width: 100%;
}

#navbar {
overflow: hidden;
z-index: 1;
height: 60px;
background-color: black;
width: 100%;
display: flex;
top: 0;
width: 100%;
padding: 2%;
justify-content: space-between;
position: sticky;
align-items: center;
}


#navbar a {
text-decoration: none;
border-color: white;
text-transform: uppercase;
font-family: 'Poopins', sans-serif;
color: rgb(255, 255, 255);
font-size: 16px;
letter-spacing: 0.8px;
}

#navbar a:hover {
color: #1E90FF;
}

.right-icons {
  display: flex;
  gap: 45px; /* Reduz o espaço entre os ícones */
  align-items: center;
}


.right-icons a {
margin: 0;
}

.left-icons {
  display: flex;
  gap: 45px; /* Reduz o espaço entre os ícones */
  align-items: center;
}


.left-icons a {
margin: 0;
}
.content {
padding: 16px;
}

.sticky {
position: fixed;
top: 0;
width: 100%;
}

.sticky + .content {
padding-top: 60px;
}


.user-menu {
  position: relative;
  display: inline-block;
  transition: 2s;
}

.user-menu .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  top: 100%; /* Ajusta a posição vertical abaixo do ícone */
  left: 0;   /* Ajusta a posição horizontal */
}

.user-menu .dropdown-content a {
  color: black;
  margin: 0px;
  text-align: center;
  width: 160px;
  height: 45px;
  padding: 15px 10px;
  text-decoration: none;
  display: block;
}

.user-menu .dropdown-content a:hover {
  background-color: #1e90ff;
}

.user-menu:hover .dropdown-content {
  display: block;
}

@media only screen and (max-width: 1110px) {
  
  footer{
    background-color: #26272b;
    }
    
    footer .divisao{
    display: flex;
    color: #737373;
    }

    footer .divisao ul{
    width: 30%;
    margin-left:5px;
    margin-right:5px;
    }

    footer .divisao h3{
    color: white;
    margin-top:20px;
    margin-bottom: 0px;
    font-size:16px;
    font-weight: 600;
    text-align: center;
    }
    footer .contato p{
      font-size:8px;
      margin:auto 30px;
    }
    footer .divisao p{
    margin-bottom: 5px;
    font-size:12px;
    }
    footer .direitos{
    text-align: right;
    color:#737373;
    font-size:12px;
    margin-top:5px;
    margin-bottom:5px;
    }
    footer .sublinhado-footer{
    margin:auto;
    margin-top:10px;
    width:80%
    }
    footer .divisao .redes-sociais svg
    {
    width:40px;
    height:40px;
    line-height:10px;
    margin-left: auto;
    margin-right:auto;
    border-radius:100%;
    background-color:#33353d;
    text-align:center;
    }

}

@media only screen and (max-width: 940px) {
   /* MENU */
   .menu {
    font-size: 10px;
    width:100%;
  }
  .menu a{
    text-decoration:none;
    font-size:14px;
    text-align:left;
    margin:20px;
    width:100%;
  }
  .icones-direita{
    display:flex;
    text-align:left;
    padding:10px;
    margin:10px;
  }
  .icones-direita .carrinho{
    font-size:10px;
    text-align:center;
    padding:auto;
    margin:auto;
  }

  .itensMenu {
    font-size: 10px;
    text-decoration:none;
  }
  .itensMenu:after {
  height: 2px;
  width: 0;
  left: 0;
  bottom: -5px;
  transition: 0.3s;
  }

  a:hover:after{
    width: 70%;
  }   
  .user-menu{
  display:flex;
  padding: 5px;
  margin:0px;
  }
  .user-menu .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  top: 100%; /* Ajusta a posição vertical abaixo do ícone */
  left: -100%;   /* Ajusta a posição horizontal */
  }
  /*FIM MENU*/

}

@media only screen and (max-width:770px){
  .e-card {
    width: 100%; /* Ocupa 100% da largura */
    margin: 15px auto; /* Ajuste de margem para espaçamento adequado */
    width: 275px;
}

.plan {
    max-width: 100%; /* O plano ocupa toda a largura disponível */
}

/* Empilhando os cartões um embaixo do outro */
.card-container {
    display: flex;
    flex-direction: column; /* Os cartões serão dispostos em coluna */
    align-items: center; /* Centraliza os cartões */
}

  footer .contato p{
    font-size:8px;
    margin:auto 30px;
  }
  footer .divisao p{
  margin-bottom: 5px;
  font-size:10px;
  }
  footer .divisao .redes-sociais svg
  {
  width:35px;
  height:35px;
  line-height:10px;
  margin-left: auto;
  margin-right:auto;
  border-radius:100%;
  background-color:#33353d;
  text-align:center;
  }
}

@media only screen and (max-width: 480px) {
  footer .contato p{
    font-size:8px;
    margin:auto 15px;
  }
  footer .divisao p{
  margin-bottom: 5px;
  font-size:8px;
  }
  footer .divisao .redes-sociais svg
  {
  width:30px;
  height:30px;
  line-height:10px;
  margin-left: auto;
  margin-right:auto;
  border-radius:100%;
  background-color:#33353d;
  text-align:center;
  }
  footer .direitos{
    font-size:8px;
  }
  .border {
    letter-spacing: 0.03em;
    padding: 0.3em 0.5em;
    display: inline-block;
    font-weight: 700px;
    font-size: 20px;
    place-items: center;
    word-break: break-all;
    min-height: 5px;
    margin:auto -60px;
    text-transform: uppercase;
    border: 2px solid;
  }
  .border h1 i{
    font-size:15px;
    align-items: center;
    text-align: center;
    padding-left:50px;
    padding-right:50px;
    padding-top:50px;
    padding-bottom:50px;
  }

  .border h1{
    margin-top: 30px;
    font-size: 20px;
  }
  .border p{
    font-size:7px;
  }
  .border h1 strong{
    font-size: 25px;
    margin-top: 30px;
  }

  .text {
    min-height: 190px;
    font-weight: 70px;
    font-size: 10px;
    letter-spacing: 0.02em;
    padding: 0.3em 0.2em;
    text-align:center;  
    border:2px solid transparent;
    border-bottom:2px solid transparent;
    /*   border-bottom:2px solid #000; */
    border-image: linear-gradient(20deg, #ffffff 40%, transparent 0% 60%, #1E90FF 0) 2;
  }

  /* MENU */
  .menu {
      font-size: 10px;
      width:100%;
  }
  .menu a{
      text-decoration:none;
      font-size:10px;
      text-align:left;
      margin:10px;
      width:100%;
  }
  .icones-direita{
      display:flex;
      text-align:center;
      padding:10px;
      margin:10px;
  }
  .icones-direita .carrinho{
      font-size:10px;
      text-align:center;
      padding:auto;
      margin:auto;
  }

  .itensMenu {
      font-size: 10px;
      text-decoration:none;
  }
  .itensMenu:after {
  height: 1px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
  }

  a:hover:after{
      width: 70%;
  }   
  .user-menu{
    display:flex;
    padding: 5px;
    margin:0px;
  }
  .menu p i{
    font-size:30px;
  }
  .user-menu .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 100%; /* Ajusta a posição vertical abaixo do ícone */
    left: -100%;   /* Ajusta a posição horizontal */
    }
    .e-card-container {
      display: flex;
      flex-direction: column; /* Organiza os itens em coluna */
      align-items: center; /* Centraliza os itens */
    }
    
    .e-card {
      margin: 15px auto;
      height: auto;
      width: 250px;
      flex-direction: column; /* Aplica coluna no cartão */
    }
    /*FIM MENU*/

}


@media only screen and (max-width: 380px) {

  .e-card {
    width: 100%; /* Ocupa 100% da largura */
    margin: 15px auto; /* Ajuste de margem para espaçamento adequado */
    height: auto;
    width: 250px;
}
}